html, body {
    margin: 0;
    padding: 0;
}

.margin-center {
    margin: 0 auto;
    width: fit-content;
    display: block;
}

.tooltip {
    max-width: 200px;
    margin-bottom: 20px;
    text-align: center;
}

.login {
    width: fit-content;
    margin: 5% auto;
}

.login h1, .login button {
    display: block;
    width: fit-content;
    margin: 0 auto;
}

.render {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

